@charset "utf-8";

@import url("https://uclb.ucaribe.edu.mx/sigmaav2/_bootstrap/css/bootstrap.min.css");

@import url("https://uclb.ucaribe.edu.mx/sigmaav2/_bootstrap/css/bootstrap-responsive.min.css");

@import url("https://uclb.ucaribe.edu.mx/sigmaav2/_css/principal.css");

a { font-weight: bold; }

a:hover { text-decoration: underline; }